@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*{
    margin: 0;
    padding: 0;
}
main{
    height: 100vh;
    width: 100%;
    background-color: hsl(0, 0%, 95%);

    display: flex;
    align-items: center;
    justify-content: center;
}
.Card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid transparent;
    height: 28.125rem;
    width: 56.25rem; 
    border-radius: 0.625rem;
    overflow: hidden;
}
.item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.logo{
    height: 6.25rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    width:70%;
    height: 5rem;
    display: flex;
    align-items: center;
}
.content{
    height: 14rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3.125rem;
    justify-content:space-around ;
}
.content h1{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    font-weight: 700;

}
.content p{
    width: 80%;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    font-size: 0.95rem;
}
.btn{
    height: 8.125rem;
    width: 63%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.btn button{
    width: 8.125rem;
    height: 3.125rem;
    border-radius: 2.5rem;
    border: 0.125rem solid white;   
    background-color: hsl(0, 0%, 95%);
    cursor: pointer;
}
.btn button:hover{
    background-color: transparent;
    color: white;

}
.btn1{
    color: hsl(31, 77%, 52%);
}
.btn2{
    color:hsl(184, 100%, 22%) ;
}
.btn3{
    color:hsl(179, 100%, 13%) ;
}
.card1{
    background-color: hsl(31, 77%, 52%);
}
.card2{
    background-color: hsl(184, 100%, 22%);
}
.card3{
    background-color: hsl(179, 100%, 13%);
}
@media(max-width:600px){
    main{
        overflow: none;
        height: fit-content;
        padding: 5vh 0px;
    }
    .Card{
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
       flex-direction: column;
        width: 90%;
    }
    .btn{
        width: 80%;
    }
}
@media(max-width:550px){
    .Card{
        width: 80%;
    }

}

